@media screen and (min-width: 992px) {
    .submenu{
        height: auto;
    }

    .sub-link{
        margin: 10px 15px;
        padding: 10px 0;
    }
	.slika-korisnika{
		padding: 0px 0px;
	}
	
	
} 
