.maska{
    display:none;
    position:fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.85);
    z-index: 1031;
}

.slike-dole{
    /* border: 1px solid red; */
    position: absolute;
    height:30vh;
    width: 100%;
    bottom:0;
}

.glavna-slika{
    position: fixed;
    border: 5px solid white;
}

.slicica{
    cursor: pointer;
    border: 3px solid #888;
}

.slicica:hover {
    border: 3px solid white;
}

#strelica-levo, #strelica-desno {
    color: #888;
    position:fixed;
    cursor: pointer;
}

#strelica-levo:hover, 
#strelica-desno:hover {
    color: white;
}