body{
    background-color: rgba(80, 79, 27, 0.2);
}

.contact-content{
    height:30vh;
    width: 100vw;
    min-height: 500px;
}


.mail-kontakt-border{
    border-left: 1px solid #aaa;
    border-radius: 1px;
}

.dp{
    color: black !important;
    font-size: 5vh;
    color: black;
    text-decoration: none;
}
.dp:hover {
    text-decoration: none;
}