.strlokala-form{
    margin-top: 5vh;
    border: 1px solid #aaa;
    border-radius: 15px;
}

.opisi-form{
    border: 1px solid #777777;
    background-color: #d3d3d3;
    border-radius: 15px;
}

.uo-slika{
    border: 3px solid rgba(0,0,0,0);
}